<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MobiOcean.MDM.DAL.Properties.Settings.MobiOceanConnectionString" connectionString="Data Source=166.62.38.16;Initial Catalog=DBMobioceanNew;User ID=MobiAdmin;Password=v@Kd1s57" providerName="System.Data.SqlClient"/>
        <add name="MadarsaConnectionString" connectionString="Data Source=182.50.133.109;Initial Catalog=DBMadarsaAtt;User ID=MadarsaAdmin;Password=Q0c*3bp2;Connection Timeout=120" providerName="System.Data.SqlClient"/>
        <add name="KSWDConnectionString" connectionString="Data Source=45.40.160.166;Initial Catalog=DBKswd;User ID=AdminKSWD;Password=Trf00g5?;Connection Timeout=120" providerName="System.Data.SqlClient"/>
        <add name="ProfileLogConnectionString" connectionString="Data Source=182.50.133.109;Initial Catalog=DBProfileLog;User ID=AdminProfileLog;Password=v5rY3!f3;Connection Timeout=120" providerName="System.Data.SqlClient"/>
        <add name="MobiOcean.MDM.DAL.Properties.Settings.DBProfileLogConnectionString" connectionString="Data Source=182.50.133.109;Initial Catalog=DBProfileLog;Persist Security Info=True;User ID=AdminProfileLog" providerName="System.Data.SqlClient"/>
        <add name="MobiOcean.MDM.DAL.Properties.Settings.DBKSWDConnectionString" connectionString="Data Source=45.40.160.166;Initial Catalog=DBKSWD;Persist Security Info=True;User ID=AdminKSWD;Password=Trf00g5?" providerName="System.Data.SqlClient"/>
        <add name="MobiOcean.MDM.DAL.Properties.Settings.DBMadarsaAttConnectionString" connectionString="Data Source=182.50.133.109;Initial Catalog=DBMadarsaAtt;Persist Security Info=True;User ID=MadarsaAdmin" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
