body {
}
.txt-search{
                        width: 254px;margin-right: 10px;padding:5px;border:1px solid #ddd;color:#555;   
                    }
        #suggestdetail ul
        {
            padding-left:0px;
            border:1px solid #ccc;
            background:#fff;
        }
        #suggestdetail ul option
        {
            padding:6px 0px;
            border-bottom:1px solid #ccc;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
         .ui-autocomplete li .m_img
         {
             margin-top:6px;
         }
       .ui-autocomplete li::before {
           border:1px solid #000 !important;
       }
.ui-menu .ui-menu-item div {
    margin: 0;
    cursor: pointer;
    background-image: url('../../../../image/map-marker.png');
    background-repeat: no-repeat;
    padding-left: 16px;
    background-position: 3px 5px;
}
