<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MobiOcean.MDM.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>-->
  <connectionStrings>
    <add name="MobiOcean.MDM.DAL.Properties.Settings.MySql" connectionString="server=182.50.133.90;User Id=AdminTest;password=Wuiy920@;database=DBTestPhp" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="MobiOcean.MDM.DAL.Properties.Settings.MySql" connectionString="server=localhost;User Id=root;password=Mobisql@123;database=mobioceandb" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/tempImages/;"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2048000"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1Q">
          <match url="^()$"/>
          <action type="Rewrite" url="/MobiOcean/Default.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 2Q">
          <match url="^(emm)$"/>
          <action type="Rewrite" url="/MobiOcean/Default.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 3Q">
          <match url="^(device-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!--<rule name="rule 4Q">
          <match url="^(Login)$" />
          <action type="Rewrite" url="/MobiOcean/MobiLogin.aspx?url={R:1}" />
        </rule>-->
        <rule name="rule 5Q">
          <match url="^(Registration)$"/>
          <action type="Rewrite" url="/MobiOcean/MobiRegister.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 7Q">
          <match url="^(Contactus)$"/>
          <action type="Rewrite" url="/MobiOcean/MobiContact_Us.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 8Q">
          <match url="^(biometric-device-attendance)$"/>
          <action type="Rewrite" url="/MobiOcean/Attendancecontant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 9Q">
          <match url="^(industry-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 10Q">
          <match url="^(byod)$"/>
          <action type="Rewrite" url="/MobiOcean/index.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 11Q">
          <match url="^(pricing)$"/>
          <action type="Rewrite" url="/MobiOcean/Default.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 12Q">
          <match url="^(on-premises)$"/>
          <action type="Rewrite" url="/MobiOcean/onpremises.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 13Q">
          <match url="^(cloud-managed)$"/>
          <action type="Rewrite" url="/MobiOcean/Cloud_Management.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 14Q">
          <match url="^(resources)$"/>
          <action type="Rewrite" url="/MobiOcean/Default.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 15Q">
          <match url="^(Free-Trial)$"/>
          <action type="Rewrite" url="/MobiOcean/Mobi_Free_Trial.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 16Q">
          <match url="^(Contact-Sales)$"/>
          <action type="Rewrite" url="/MobiOcean/Contact_Sales?url={R:1}"/>
        </rule>
        <rule name="rule 19Q">
          <match url="^(partner)$"/>
          <action type="Rewrite" url="/MobiOcean/partner.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 20Q" stopProcessing="true">
          <match url="^(support)$" ignoreCase="true"/>
          <action type="Rewrite" url="/MobiOcean/MobiSupport.aspx"/>
        </rule>
        <rule name="rule 21Q">
          <match url="^(videos)$"/>
          <action type="Rewrite" url="/MobiOcean/resource_contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 22Q">
          <match url="^(case-studies)$"/>
          <action type="Rewrite" url="/MobiOcean/resource_contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 23Q">
          <match url="^(data-sheet)$"/>
          <action type="Rewrite" url="/MobiOcean/resource_contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 24Q">
          <match url="^(about-us)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 25Q">
          <match url="^(why-mobiocean)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 30Q">
          <match url="^(tbd)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!--<rule name="rule 31Q">
          <match url="^(web-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>
        <rule name="rule 32Q">
          <match url="^(mobimove-transport-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.php?url={R:1}"/>
        </rule>-->
        <!--<rule name="rule 33Q">
          <match url="^(industry-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.php?url={R:1}"/>
        </rule>-->
        <rule name="rule 34Q">
          <match url="^(mobility-management-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 35Q">
          <match url="^(mobile-device-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 36Q">
          <match url="^(attendance-management-system)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 37Q">
          <match url="^(secure-communication)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 38Q">
          <match url="^(mission)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 39Q">
          <match url="^(whitepaper)$"/>
          <action type="Rewrite" url="/MobiOcean/resource_contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 43Q">
          <match url="^(logistics)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 44Q">
          <match url="^(defense)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 45Q">
          <match url="^(custom-solutions)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!--<rule name="rule 46Q">
          <match url="^(school-bus-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>
        <rule name="rule 47Q">
          <match url="^(public-transport-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>-->
        <rule name="rule 48Q">
          <match url="^(employee-transportation-management-software)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 49Q">
          <match url="^(govt)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="rule 50Q">
          <match url="^(advance-attendance-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!--<rule name="rule 51Q">
          <match url="^(geo-fencing)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>
        <rule name="rule 52Q">
          <match url="^(field-sales-managememt)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>-->
        <rule name="rule 53Q">
          <match url="^(field-support-managemenet)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="employee-location-management">
          <match url="^(employee-location-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <!--<rule name="field-staff-managememt">
          <match url="^(field-staff-managememt)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>-->
        <rule name="mobile-based-attendance-and-conveyance-system">
          <match url="^(mobile-based-attendance-and-conveyance-system)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!--<rule name="location-management">
          <match url="^(location-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>-->
        <rule name="geofencing-management-application">
          <match url="^(geofencing-management-application)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="employee-safety-mobile-application">
          <match url="^(employee-safety-mobile-application)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="employee-cell-phone-monitoring-system">
          <match url="^(employee-cell-phone-monitoring-system)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!-- <rule name="mobile-browsing-management">
          <match url="^(mobile-browsing-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>-->
        <rule name="rule-about-page">
          <match url="^(about)$"/>
          <action type="Rewrite" url="/MobiOcean/Default.aspx?url={R:1}"/>
        </rule>
        <rule name="school-transportation-management-software">
          <match url="^(school-transportation-management-software)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="encrypted-messanger-mobile-application">
          <match url="^(encrypted-messanger-mobile-application)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="encrypted-email-mobile-application">
          <match url="^(encrypted-email-mobile-application)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="encrypted-sms-solution">
          <match url="^(encrypted-sms-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!--<rule name="automated-public-transport-solution">
          <match url="^(automated-public-transport-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.php?url={R:1}"/>
        </rule>-->
        <rule name="mobile-application-management">
          <match url="^(mobile-application-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="transportation-management-software">
          <match url="^(transportation-management-software)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="mobile-web-access-management">
          <match url="^(mobile-web-access-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="public-transportation-management-software">
          <match url="^(public-transportation-management-software)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="mobile-app-management">
          <match url="^(mobile-app-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="mobile-device-security-management">
          <match url="^(mobile-device-security-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="field-sales-staff-management">
          <match url="^(field-sales-staff-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!--<rule name="rule Blog 1" stopProcessing="true">
  <match url="^Blog/index.php$"  />
  <action type="Rewrite" url="/MobiOcean/Blog/-"  />
</rule>
<rule name="rule Blog 2" stopProcessing="true">
  <match url="Blog/."  />
  <action type="Rewrite" url="/MobiOcean/Blog/Blog/index.php"  />
</rule>-->
        <rule name="WordPress Rule" stopProcessing="true">
          <match url="^Blog/.*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="blog/index.php"/>
        </rule>
        <rule name="301 Redirect 1" stopProcessing="true">
          <match url="^(web-management)$"/>
          <action type="Redirect" url="mobile-web-access-management" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 2" stopProcessing="true">
          <match url="^(field-sales-managememt)$"/>
          <action type="Redirect" url="field-sales-staff-management" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 3" stopProcessing="true">
          <match url="^(location-management)$"/>
          <action type="Redirect" url="employee-location-management" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 4" stopProcessing="true">
          <match url="^(attendance-conveyance-via-app)$"/>
          <action type="Redirect" url="mobile-based-attendance-and-conveyance-system" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 5" stopProcessing="true">
          <match url="^(geo-fencing)$"/>
          <action type="Redirect" url="geofencing-management-application" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 6" stopProcessing="true">
          <match url="^(sos-management)$"/>
          <action type="Redirect" url="employee-safety-mobile-application" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 7" stopProcessing="true">
          <match url="^(call-sms-regulation)$"/>
          <action type="Redirect" url="employee-cell-phone-monitoring-system" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 8" stopProcessing="true">
          <match url="^(school-bus-solution)$"/>
          <action type="Redirect" url="school-transportation-management-software" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 9" stopProcessing="true">
          <match url="^(encrypted-messenger)$"/>
          <action type="Redirect" url="encrypted-messanger-mobile-application" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 10" stopProcessing="true">
          <match url="^(encrypted-e-mail)$"/>
          <action type="Redirect" url="encrypted-email-mobile-application" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 11" stopProcessing="true">
          <match url="^(encrypted-sms)$"/>
          <action type="Redirect" url="encrypted-sms-solution" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 13" stopProcessing="true">
          <match url="^(app-management)$"/>
          <action type="Redirect" url="mobile-application-management" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 15" stopProcessing="true">
          <match url="^(mobimove-transport-solution)$"/>
          <action type="Redirect" url="transportation-management-software" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 16" stopProcessing="true">
          <match url="^(public-transport-solution)$"/>
          <action type="Redirect" url="public-transportation-management-software" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 17" stopProcessing="true">
          <match url="^(employee-transport-solution)$"/>
          <action type="Redirect" url="employee-transportation-management-software" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 18" stopProcessing="true">
          <match url="^(device-security)$"/>
          <action type="Redirect" url="mobile-device-security-management" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 19" stopProcessing="true">
          <match url="^(school-transport-management-software)$"/>
          <action type="Redirect" url="school-transportation-management-software" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 20" stopProcessing="true">
          <match url="^(mobile-browsing-management)$"/>
          <action type="Redirect" url="mobile-web-access-management" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 21" stopProcessing="true">
          <match url="^(automated-public-transport-solution)$"/>
          <action type="Redirect" url="public-transportation-management-software" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 22" stopProcessing="true">
          <match url="^(field-staff-managememt)$"/>
          <action type="Redirect" url="field-sales-staff-management" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 23" stopProcessing="true">
          <match url="^(field-sales-staff-managememt)$"/>
          <action type="Redirect" url="field-sales-staff-management" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 24" stopProcessing="true">
          <match url="^(Default.aspx)$"/>
          <action type="Redirect" url="http://mobiocean.com" redirectType="Permanent"/>
        </rule>
        <rule name="301 Redirect 25" stopProcessing="true">
          <match url="^(termofuse.php)$"/>
          <action type="Redirect" url="term-of-use.php" redirectType="Permanent"/>
        </rule>
        <rule name="advance-attendance-solution">
          <match url="^(advance-attendance-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="attendance-management-system">
          <match url="^(attendance-management-system)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="secure-communication">
          <match url="^(secure-communication)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="device-management">
          <match url="^(device-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="custom-solutions">
          <match url="^(custom-solutions)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="industry-solution">
          <match url="^(industry-solution)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <!-- <rule name="pos"><match url="^(pos)$"/><action type="Rewrite" url=""/></rule> -->
        <rule name="pos-handheld-device">
          <match url="^(pos-handheld-device)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="mobile-device-management">
          <match url="^(mobile-device-management)$"/>
          <action type="Rewrite" url="/MobiOcean/contant2.aspx?url={R:1}"/>
        </rule>
        <rule name="defense">
          <match url="^(defense)$"/>
          <action type="Rewrite" url="/MobiOcean/index.php?url={R:1}"/>
        </rule>
        <rule name="govt">
          <match url="^(govt)$"/>
          <action type="Rewrite" url="/MobiOcean/index.php?url={R:1}"/>
        </rule>
        <rule name="logistics">
          <match url="^(logistics)$"/>
          <action type="Rewrite" url="/MobiOcean/index.php?url={R:1}"/>
        </rule>
        <rule name="tbd">
          <match url="^(tbd)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
        <rule name="employee-transportation-management-software">
          <match url="^(employee-transportation-management-software)$"/>
          <action type="Rewrite" url="/MobiOcean/contant.aspx?url={R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <remove name="ChartImageHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2048000000"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701">
          <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <!--<applicationSettings>
    <MobiOcean.MDM.Web.Properties.Settings>
      <setting name="MobiOcean_MDM_Web_Vodalocationtracker_TerminalLocationImplService" serializeAs="String">
        <value>https://locationtracker.vodafone.in/VLTAPI_BULK/MSISDN/</value>
      </setting>
    </MobiOcean.MDM.Web.Properties.Settings>
  </applicationSettings>-->
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
</configuration>