.ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  
  div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  margin-top:-20px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.list{
color:#FFFFFF;}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #fff;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}
.top{ margin-top:18px;}
.top1{ margin-top:13px;}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.row{
margin-left:0px;
margin-right:0px;
}
  .navbar-default{
  background-color:#e7e7e7;
  border:#e7e7e7;
  
  }
.inp{
border-radius: 10px;
    border: none;
    width: 46%;
    height: 32px;}
	
	
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


h1 {
  font-size: 60px;
  text-align: center;
  line-height: 1.5;
  color: #FFF;
} 

a {
  color: #FFF;
}

p {
	font-size:22px;
	line-height:40px;
	color: #333;
	}
 
.tabs {
    width: 650px;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
}
 
.tabs li {
	display: block;
}

.labels:after {
	content: '';
	display: table;
	clear: both;
}

.tabs label {
	display: inline-block;
	float: left;
    padding: 16px 20px;
    color: #000;
    font-size: 100%;
    font-weight: normal;
    background: #b3b8c1;
    cursor: pointer;
	margin: 1px;
    width: 33%;
    height: 50px;
    border-radius: 10px;
}
 
.tabs label:hover {
    background: #363636;
	color:#fff;
}
 
.tab-content {
    display: none;
    width: 100%;
    padding: 15px;

  /*  border:1px solid #ccc;
    border-top: 10px solid #08C;
    background-color:#ffffff;*/
}


.tabs input[type=radio] {
    display:none;
}
 
[id^=tab]:checked ~ div[id^=tab-content] {
    display: block;
}

[id^=tab]:checked ~ [id^=label]  {
    background: #08C;
    color: white;
}




#relatedContent {
	display: block;
	clear: both;
  	max-width: 800px;
  	margin: 100px auto 0;
}

#relatedContent h3 {
  font-size: 30px;
  text-align: center;
  color: #FFF;
}

#relatedContent .item {
  	max-width: 44%;
  	padding: 3%;
  	float: left;
  	text-align: center;
}

#relatedContent .item a img {
 	max-width: 100%;
}

.name:after{display:inline-block;
    position:absolute;
    right:5px;
    top:5px;
    color:red;
    font-family:fontAwesome;
    content:'\f1e9';}
	
	
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{ margin-left:89px;
	
	}
.dropdown-menu1{position:absolute;top:100%;left:0;z-index:9999;display:none;float:left;min-width:160px;padding:5px 0;margin:-20px 153px 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}

@charset "utf-8";
/* CSS Document */
.container{width:1280px; margin:0;}
.left_box{margin:0;padding:0; font-size:36px; text-align:center;}
.right_box{margin:10px 0 0 0;padding:0;text-align:center;}
;
.button_1{margin:0;padding:0;}
.size{width:100%; margin:0 ;padding:5px  5px  10px  5px ;}
.size1{width:100%; margin:0;padding:5px  5px  10px  30px ; background-color:blue;}
.text1{margin:10px 20px 0 0 ;padding:0;}
.text2{margin:10px 0 0 20px ;padding:0;}
.text3{margin:10px 0 0 20px ;padding:0;}
.button_2{margin:0;padding:0 ;}
.button_3{margin:0;padding:0 ;}
.horizential{margin:20px 0 0 ;padding:0; font-size:50spx; color:2px solid rgba(237,41,44,1.00);}
.heading{margin:0;padding:0; font-size:50px; text-align:center; font-weight:bold;}
.right_text{margin:10px 0 0 0;padding:0;}
.article{margin:30px 0 0 0;padding:0;text-align:center;}
.aside_text{margin:30px 0 0 0;padding:0; text-align:center;}
.first{ margin:0;padding:0; }
.second{margin:0;padding:0; }
.thired{margin:0;padding:0;}
.aside_text2{margin:50px 0 0 0;padding:0; text-align:center;}
.text_aside1{margin:20px 0 0 0;padding:0;}
.text_aside1 ul{}
.text_aside1 ul li{list-style:none; display:inline; margin:0 0 0 40px; text-decoration:none;}

.text_aside2{margin:20px 0 0 0;padding:0;}
.text_aside2 ul{}
.text_aside2 ul li{list-style:none; display:inline; margin:0 0 0 50px; text-decoration:none;}
 
 .text_aside3{margin:20px 0 0 0;padding:0;}
.text_aside3 ul{}
.text_aside3 ul li{list-style:none; display:inline; margin:0 0 0 40px; text-decoration:none;}
 .text0{font-size:30px;}
 .footer{margin:90px 0 0 0 ;paddig:0;}
 .footer_image{margin:40px 0 0 0;padding:0; background-color:blue;}
 .fot_text1{color:white;}
 .footer_text{margin:40px 0 0 0;padding:0;}
 .footer_line{margin:0;padding:0; color:rgba(66,66,66,1.00); font-size:large; text-align:center;}
 .footer_name{margin:0;padding:0; text-align:center;}
 .footer_name p{margin:0;padding:0;  font-weight:bold;}
 .but_text{color:white; margin:10px 10px 10px 10px;padding:0;}
 .but_text a:hover{background-color:blue; color:white;}
 .pra{margin:20px 0 0 0;padding:0;}
 
 
 .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  
  div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  margin-top:-20px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.list{
color:#FFFFFF;}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #fff;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #2a368b;
  background-image: #2a368b;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}
.top{ margin-top:18px;}
.top1{ margin-top:13px;}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.row{
margin-left:0px;
margin-right:0px;
}
  .navbar-default{
  background-color:#e7e7e7;
  border:#e7e7e7;
  
  }
.inp{
border-radius: 10px;
    border: none;
    width: 46%;
    height: 32px;}
.col-md-offset-3 {
    margin-left: 31%;
}



.dropdown-menu{
    position: absolute;
	
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #b3b8c1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-radius: 10px;
    /* width: 84px; */
    padding: 13px;
    /* width: 200px; */
}
.dropdown-menu>li>a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #363636;
}

.dashboard{height:800px;margin: -114px 153px 0;  width:200px;}
.enrollment{ height:800px;margin: -232px 153px 0; width:200px;}
.profile{height:800px;margin: -345px 153px 0;  width:200px;}
.admin{height:800px;margin: -464px 153px 0;  width:200px;"}

.add{background-color:#b3b8c1; height:40px; border:none; color:#fff; width:100%; margin-top:4px;}

.tabs1{
    width: 650px;
    float: none;
    list-style: none;
    padding: 0;
    margin: 60px auto;
    margin-right: 413px;
}

@charset "utf-8";
/* CSS Document */
.container{width:1280px; margin:0;}
.left_box{margin:0;padding:0; font-size:36px; text-align:center;}
.right_box{margin:10px 0 0 0;padding:0;text-align:center;}
;
.button_1{margin:0;padding:0;}
.size{width:100%; margin:0 ;padding:5px  5px  10px  5px ;}
.size1{width:100%; margin:0;padding:5px  5px  10px  30px ; background-color:blue;}
.text1{margin:10px 20px 0 0 ;padding:0;}
.text2{margin:10px 0 0 20px ;padding:0;}
.text3{margin:10px 0 0 20px ;padding:0;}
.button_2{margin:0;padding:0 ;}
.button_3{margin:0;padding:0 ;}
.horizential{margin:20px 0 0 ;padding:0; font-size:50spx; color:2px solid rgba(237,41,44,1.00);}
.heading{margin:0;padding:0; font-size:50px; text-align:center; font-weight:bold;}
.right_text{margin:10px 0 0 0;padding:0;}
.article{margin:30px 0 0 0;padding:0;text-align:center;}
.aside_text{margin:30px 0 0 0;padding:0; text-align:center;}
.first{ margin:0;padding:0; }
.second{margin:0;padding:0; }
.thired{margin:0;padding:0;}
.aside_text2{margin:50px 0 0 0;padding:0; text-align:center;}
.text_aside1{margin:20px 0 0 0;padding:0;}
.text_aside1 ul{}
.text_aside1 ul li{list-style:none; display:inline; margin:0 0 0 40px; text-decoration:none;}

.text_aside2{margin:20px 0 0 0;padding:0;}
.text_aside2 ul{}
.text_aside2 ul li{list-style:none; display:inline; margin:0 0 0 50px; text-decoration:none;}
 
 .text_aside3{margin:20px 0 0 0;padding:0;}
.text_aside3 ul{}
.text_aside3 ul li{list-style:none; display:inline; margin:0 0 0 40px; text-decoration:none;}
 .text0{font-size:30px;}
 .footer{margin:90px 0 0 0 ;paddig:0;}
 .footer_image{margin:40px 0 0 0;padding:0; background-color:blue;}
 .fot_text1{color:white;}
 .footer_text{margin:40px 0 0 0;padding:0;}
 .footer_line{margin:0;padding:0; color:rgba(66,66,66,1.00); font-size:large; text-align:center;}
 .footer_name{margin:0;padding:0; text-align:center;}
 .footer_name p{margin:0;padding:0;  font-weight:bold;}
 .but_text{color:white; margin:10px 10px 10px 10px;padding:0;}
 .but_text a:hover{background-color:blue; color:white;}
 .pra{margin:20px 0 0 0;padding:0;}
 
 /* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


h1 {
  font-size: 60px;
  text-align: center;
  line-height: 1.5;
  color: #FFF;
} 

a {
  color: #FFF;
}

p {
	font-size:22px;
	line-height:40px;
	color: #333;
	}
 
.tabs {
    width: 650px;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
}
 
.tabs li {
	display: block;
}

.labels:after {
	content: '';
	display: table;
	clear: both;
}

.tabs label {
	display: inline-block;
	float: left;
    padding: 16px 20px;
    color: #000;
    font-size: 100%;
    font-weight: normal;
    background: #b3b8c1;
    cursor: pointer;
	margin: 1px;
    width: 33%;
    height: 50px;
    border-radius: 10px;
}
 
.tabs label:hover {
    background: #363636;
	color:#fff;
}
 
.tab-content {
    display: none;
    width: 100%;
    padding: 15px;

  /*  border:1px solid #ccc;
    border-top: 10px solid #08C;
    background-color:#ffffff;*/
}


.tabs input[type=radio] {
    display:none;
}
 
[id^=tab]:checked ~ div[id^=tab-content] {
    display: block;
}

[id^=tab]:checked ~ [id^=label]  {
    background: #08C;
    color: white;
}




#relatedContent {
	display: block;
	clear: both;
  	max-width: 800px;
  	margin: 100px auto 0;
}

#relatedContent h3 {
  font-size: 30px;
  text-align: center;
  color: #FFF;
}

#relatedContent .item {
  	max-width: 44%;
  	padding: 3%;
  	float: left;
  	text-align: center;
}

#relatedContent .item a img {
 	max-width: 100%;
}

.name:after{display:inline-block;
    position:absolute;
    right:5px;
    top:5px;
    color:red;
    font-family:fontAwesome;
    content:'\f1e9';}
	
	
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{ margin-left:89px;
	
	}
.dropdown-menu1{position:absolute;top:100%;left:0;z-index:9999;display:none;float:left;min-width:160px;padding:5px 0;margin:-20px 153px 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}

.tabs1{
    width: 650px;
    float: none;
    list-style: none;
    padding: 0;
    margin: 66px auto;
    margin-right: 413px;
}

.tabs1 label {
    display: inline-block;
    float: left;
    padding: 16px 20px;
    color: #000;
    font-size: 17px;
    font-weight: normal;
    background: #363636;
    cursor: pointer;
    margin: 1px;
    width: 33%;
    height: 50px;
	color:#FFFFFF;
	text-align:center;
}

.tabs1 label:hover {
    background: #2a368c;
    color: #fff;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.top{ margin-top:18px;}
.top1{ margin-top:13px;}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.row{
margin-left:0px;
margin-right:0px;
}
  .navbar-default{
  background-color:#e7e7e7;
  border:#e7e7e7;
  
  }
.inp{
border-radius: 10px;
    border: none;
    width: 46%;
    height: 32px;}
.col-md-offset-3 {
    margin-left: 31%;
}
.ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  
  div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  margin-top:-20px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.list{
color:#FFFFFF;}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}


div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #fff;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #2a368b;
  background-image: #2a368b;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}
